<div *appLoading="model$ | async">
  <h2>This is without any templates.</h2>
  <p *ngFor="let w of (model$ | async)?.data">
    {{ w }}
  </p>
</div>

<div
  *appLoading="model$ | async; spinner: loading; empty: empty; errored: errored"
>
  <h2>
    This is with templates for spinner, loading, empty, and errored any
    templates.
  </h2>
  <p *ngFor="let w of (model$ | async)?.data">
    {{ w }}
  </p>
</div>
<div>
  <div>
    <button (click)="switchToLoaded()">Switch to Loaded (data, and loading:false, and empty: false)</button>
  </div>
  <div>
    <button (click)="switchToInitialState()">Switch to Initial State (loading, no errors, no data)</button>
  </div>
  <div>
    <button (click)="switchToLoadedEmptyState()">
      Switch to Loaded Empty State (loaded: true, data: [])
    </button>
  </div>
  <div>
    <button (click)="switchToLoadedErrorState()">Switch to Error State (errored: true)</button>
  </div>
</div>
<ng-template #loading>
  <p>Your Job List Is Loading</p>
</ng-template>

<ng-template #empty>
  <p>Good news! You have no jobs!</p>
</ng-template>

<ng-template #errored>
  <p>Some Error Happened while loading your job list. Try again later</p>
</ng-template>
